img{
    width: 70vw;
    height: 15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    font: serif;
}
#vid{
    padding-top: 5vw;
    padding-left: 5vw;
}
#map{
    padding-left: 5vw;
}